<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>떼떼떼</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/2-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('assets/img/maintwo.jpg');"></div>
                <div class="carousel-caption">
                    <p>MT매니져'떼'</p>
                    <h2>마시고 토하는 MT는 그만</h2>
                    <h2>MT도 변화할 때가 됐다!</h2>
                     <a href="/introduction"><button class="btn btn-default" type="submit">더 알아보기</button></a>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('assets/img/mainthree.jpg');"></div>
                <div class="carousel-caption">
                    <p>MT매니져'떼'</p>
                    <h2>재미있어야 MT다!</h2>
                    <h2>원하는 MT를 골라가세요!</h2>
                     <a href="/introduction"><button class="btn btn-default" type="submit">더 알아보기</button></a>
                </div>
            </div>
            <div class="item active">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('assets/img/mainone.jpg');"></div>
                <div class="carousel-caption">
                    <p>MT매니져'떼'</p>
                    <h2>열심히 떼지어 MT가세요</h2>
                    <h2>MT 내용은 떼가 만들게요</h2>
                     <a href="/introduction"><button class="btn btn-default" type="submit">더 알아보기</button></a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>


   
    
     <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="/event1">
                    <img class="img-responsive" src="assets/img/beach.jpg" alt="">
                    
                </a>
              
                   
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="/event2">
                    <img class="img-responsive" src="assets/img/mountain.jpg" alt="">
                </a>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">       
            <div class="col-md-6 portfolio-item">
                <a href="/event3">
                    <img class="img-responsive" src="assets/img/mukbang.jpg" alt="">
                </a>
               
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="/event4">
                    <img class="img-responsive" src="assets/img/healing.jpg" alt="">
                </a>
               
                  
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="/event5">
                    <img class="img-responsive" src="assets/img/snap.jpg" alt="">
                </a>
               
                   
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="/event6">
                    <img class="img-responsive" src="assets/img/festival.jpg" alt="">
                </a>
               
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/event3">
                    <img class="img-responsive" src="assets/img/extream.jpg" alt="">
                </a>
               
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/event4">
                    <img class="img-responsive" src="assets/img/healing.jpg" alt="">
                </a>
              
                  
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/event4">
                    <img class="img-responsive" src="assets/img/history.jpg" alt="">
                </a>
               
                  
            </div>
        </div>
        <!-- /.row -->

        <hr>

        

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; TTE YANGOON</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
        
        



              

   
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

      
     
      
      
      
</body>



        